/* Master Styles */
body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}
 /* Nav Styles */

.nav-wrapper { 
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.brand {
    color:white;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
    
}

.nav-link-wrapper {
    height: 16px;
    border: 1px solid transparent;
    transition: border 0.5s;
    color: black;
}

.nav-link-wrapper a { 
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border: 1px solid white
}

.nav-link-wrapper a:hover {
    color: black
}

/* Portflio Styles */

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper { 
    position: relative; 
}

.portfolio-img-background{ 
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.subtitle { 
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 50%;
    padding-right: 50%;
}

 .subtitle { 
    transition: 1s;
    color: transparent;
    font-weight: 600;
   
}
 .subtitle:hover { 
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);

}
/* Background image */
body{
    margin: 0;
    padding: 0;
    background: url(keith-misner-h0Vxgz5tyXA-unsplash.jpg);
    background-size: cover;
    background-position:center;
    font-family: sans-serif;
    height: 1080px;
    
  }
/* Box around links */
  a:link, a:visited {
    background-color: white;
    color: black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
    
  }
  
  a:hover, a:active {
    background-color: white;
  }
/* Publish box */
*{
    box-sizing: border-box;
  }
  body {
    padding: 0 1em;
    font-family: sans-serif;
  }
  
 /* About information home page */ 
 .content {
     color:white;
 }
 
 .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.content { 
    position: relative; 
}

